* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative; /* Asegúrate de que sea 'relative' o 'static' */
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
}

nav ul {
    list-style: none;
    margin-top: 1rem;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: white;
    border-radius: 8px;
}

h2 {
    cursor: pointer;
    background-color: #77a2cc;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

h2:hover {
    background-color: #999999;
}

.collapsible-content {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}

.hidden {
    display: none;
}

.airbnb, .actividad {
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.airbnb a, .actividad a {
    text-decoration: none;
    color: #2c3e50;
}

.airbnb:hover, .actividad:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

